{% extends 'base.html' %}
{% block content %}


<section class="about-preview container">
    <div class="about-content">
        <div class="about-text">
            <h3 class="section-title">
                Hi, I'm Rohit</h3>
            <p class="section-description">
                I help you master AI and data to take control of your career, break past limitations, and build a future
                you’re proud of.
            </p>
            <div class="button-center">
                <a href="https://www.youtube.com/@rohitbhandari-ai" class="link-button">Let's Get Started</a>
            </div>
        </div>
        <div class="about-image">
            <img src="/static/images/hero.jpg" alt="Rohit Bhandari">
        </div>
    </div>
</section>


<section class="about-preview container">
    <div class="about-content">

        <div class="about-image">
            <img src="/static/images/hero2.jpg" alt="Rohit Bhandari">
        </div>
        <div class="about-text">
            <h3 class="section-title">
                <b>Rohit Bhandari</b>
                <p>
                <h4>Data Scientist | AI Strategist | Content Educator<br>
                    B.Tech (CSE), 6+ yrs Exp in Data & AI | Kaggle Practitioner</h4>
                </p>
            </h3>
            <br>
            <p class="section-description">

            <p class="section-description">
                Hi there! I'm Rohit Bhandari, a data scientist, AI strategist, and educator passionate about
                transforming how everyday professionals understand and use artificial intelligence to thrive in the
                modern world.

                Over the last 6 years, I’ve helped businesses—from agile startups to enterprise teams—optimize
                supply
                chains, automate decision-making, and unlock real value through AI and data. My specialty? Making
                complex systems simple and actionable.

                As the founder of a growing digital brand around AI, I’m on a mission to empower 1 million
                people—especially from middle-class and underrepresented communities—to not just survive but lead in
                the
                age of AI. Whether through YouTube, Instagram, or my upcoming podcast AI vs Human, I create
                practical
                content that inspires clarity, confidence, and transformation.

                So far, I’ve educated thousands through tutorials, live Kaggle streams, and behind-the-scenes
                storytelling. Every video, post, and conversation is built around one belief: you don’t need a tech
                degree to take control of your future—just the right guidance.

                Right now, I’m building India's most practical AI learning ecosystem—where ambition meets real-world
                tools. My goal? To help you become irreplaceable in the AI economy—with focus, strategy, and
                simplicity.
            </p>
            </p>
            <div class="button-center">
                <a href="/about" class="link-button">ABOUT ROHIT</a>
            </div>
        </div>
    </div>
</section>

<section class="youtube-carousel container">
    <h3 class="section-title">Latest Videos</h3>
    <div class="scrolling-videos">
        <iframe width="560" height="280"
            src="https://www.youtube.com/embed/o4oUi4uWMIs?si=NsPvd3m6hQ7LZQvn&amp;controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <iframe width="560" height="280"
            src="https://www.youtube.com/embed/f951kCUse-A?si=JuajdytkBRMxvppj&amp;controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <iframe width="560" height="280"
            src="https://www.youtube.com/embed/M_M9SAhOhrQ?si=QkzLjAcP_YaoHLPP&amp;controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
</section>


<section class="about-preview container">
    <div class="about-content">
        <div class="about-text">
            <h3 class="section-title">
                Master AI. Take Control. Build the Life You Want.
            </h3>
            <p class="section-description">
                This evolving content series is designed to tackle the biggest challenges you face in your career—from
                staying relevant in the AI era to breaking through self-doubt—so you can move faster, think smarter, and
                lead with confidence.
            </p>
            <div class="button-center">
                <a href="https://www.youtube.com/@rohitbhandari-ai" class="link-button">Subscribe Now</a>
            </div>
        </div>
        <div class="about-image">
            <img src="/static/images/hero3.jpeg" alt="Rohit Bhandari">
        </div>
    </div>
</section>


<section style="display: none;" class="downloads-preview container">

    <h3 class="section-title">
        Free Resources
    </h3>
    <p class="section-description">
        This evolving content series is designed to tackle the biggest challenges you face in your career—from
        staying relevant in the AI era to breaking through self-doubt—so you can move faster, think smarter, and
        lead with confidence.


    </p>
    <div class="button-center">
        <a href="/downloads" class="link-button">Browse Downloads</a>
    </div>
</section>


<!-- <section class="hero-section container">
    <h2 class="hero-title">Helping You Make Smarter Decisions with Data and AI</h2>
    <p class="hero-subtitle">Blending deep technical knowledge with creativity and clarity—built for the curious mind
        ready to lead the AI era.</p>
    <a href="/downloads" class="cta-button">Download Free AI Starter Toolkit</a>
</section>

<section class="trust-section container">
    <h3 class="section-title">Trusted by learners from top communities and workplaces</h3>
    <div class="logo-grid">
        <img src="/static/images/logo1.png" alt="Brand 1">
        <img src="/static/images/logo2.png" alt="Brand 2">
        <img src="/static/images/logo3.png" alt="Brand 3">
    </div>
</section>
/-->

<!-- <section class="mission-section container">
    <h3 class="section-title">My Mission</h3>
    <p class="section-description">
        I am driven by the belief that middle-class and underserved communities should not be left behind in the AI era.
        Through accessible storytelling, hands-on tools, and a relatable perspective, I help people build confidence and
        clarity as they prepare for an AI-powered future.
    </p>
    </section>

    <section class="philosophy-section container">
        <h3 class="section-title">What I Stand For</h3>
        <ul class="pillars">
            <li><strong>Clarity:</strong> Make complex topics simple and accessible.</li>
            <li><strong>Authenticity:</strong> No fake flex, just real transformation.</li>
            <li><strong>Empowerment:</strong> Help people lead themselves through AI.</li>
            <li><strong>Legacy:</strong> Use content to shape the next generation of tech thinkers.</li>
        </ul>
    </section>

    <section class="latest-voice container">
        <h3 class="section-title">Latest Insight</h3>
        <p class="section-description">“Your story is your strength. In a world chasing speed, choose depth.”</p>
    </section> -->

{% endblock %}